$height = 59px;

.navbar-wrapper {
    height: $height;

    li {
        font-size: 16px !important;
        color: #606266;
        height: $height;
        line-height: $height;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        align-items: center;

        img {
            border-radius: 50%;
            width: 28px;
            height: 28px;
        }
    }

    li:hover {
        cursor: pointer;
        background-color: #f6f6f6;
    }
}