.re-tab-wrapper {
    position: fixed;
    top: 60px;
    width: calc(100% - 200px);
    height: 39px;
    border-bottom: 1px solid #e5e7eb;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 998;

    .el-tag:hover {
        cursor: pointer;
    }
}