.sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    background-color: #17253b;

    // 覆盖：去除边框
    .el-menu {
        border: none;
    }

    .custom-el-emnu {
        width: 200px;
    }

    .el-menu-item.is-active {
        // 增加el-menu-item选中背景色
        background-color: #409eff;
    }
}
